$accent-color: white;
$light-color: #8892b0;


.home-container {
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name,
.position {
  color: $accent-color;
  font-size: 5vmax;
  margin: 0;
}

.description {
  margin-top: 4rem;
  color: $accent-color;
  font-size: 1.5vmax;
  text-align: center;
}


.brush {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 170px;
  width: 100%;
  background-repeat: repeat;
  margin-bottom: 55px;
  background-image: url("../../images/brush-stroke.png");
}