// Variables for Colors
//$accent-color: #D8576F; 
//$accent-color: #CAE1F5;
// $accent-color: #AAD1EE;
$accent-color: white;

//$base-color: 
$light-color: #8892b0;
//$light-color: #EFAEB1;

// $accent-color: #fade4b;


.home-container {
  display: flex;
  //flex-direction: column;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  //justify-content: space-between;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  //height: 80vh;
}

// .hero-details {
//   width:80%;
// }

.name,
.position {
  color: $accent-color;
  font-size: 5vmax;
  margin: 0;
}

.description {
  margin-top: 4rem;
  color: $accent-color;
  font-size: 1.5vmax;
  text-align: center;
}


.brush {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 170px;
  width: 100%;
  background-repeat: repeat;
  //background-size: initial;
  margin-bottom: 55px;
  //z-index: 2;
  //justify-self: flex-start;
  background-image: url("../../images/brush-stroke.png");
  
}