.contact-container {
  background-color: #F3F3F3;
  padding-bottom: 4.5rem;
}

.contact-heading {
  font-size: 4.5vmax;
  font-weight: 700;
  margin: 0;
  padding-top: 7rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.5vmax;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin-top: 4.5rem;
}

.btn-primary {
  color: #F3F3F3;
  background-color: #224273;
  border-color: #224273;
}

.btn-primary:hover {
  color: #F3F3F3;
  background-color: #3868B0;
  border-color: #3868B0;
}

.btn-primary:focus, .btn-primary.focus {
  color: #F3F3F3;
  background-color: #3868B0;
  border-color: #3868B0;
}